{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row">

    <!-- CHART -->
    <div class="col-5">
        <div class="row">
            <div class="col-8 mx-auto">
                <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                        <input type="radio" name="options" id="option1" checked> son 5
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="options" id="option2"> this month(ders bazli)
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="options" id="option3"> Tum Denemeler
                    </label>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col">
                <canvas id="myChart2" width="450" height="275"></canvas> <!-- width="450" -->
                <canvas id="myChart3" style="display:none;" width="450" height="275"></canvas> <!-- width="450" -->
                <!-- modal -->
            </div>
        </div>
    </div>

    <!-- INFO -->
    <div class="col-3">
        <div class="alert alert-warning" role="alert">
            <h2>Info </h2>
            <hr>
            {% if object.user.first_name %}
            <p>Name : {{ object.user.first_name }}</p>
            <p>Surname : {{ object.user.last_name }}</p>
            {% else %}
            <p>Name : {{ object.user.username }}</p>
            {% endif %}
            <p>Sinif : {{ object.classroom }}</p>
            <!-- Basari durumu(basarili,vasat,basarisiz) : Custom managermodel and queryset and define success_rate() filter based on exams etc -->
            <p>Basari durumu : {{ success_status }}</p>
            <p>Advisor : <a href=""> {{ object.classroom.advisor }}</a></p>
        </div>
        <!-- <div class="row">
            <div class="col">
                <div class="alert alert-primary" role="alert">
                    <h2>Contact Info </h2>
                    <hr>
                    <p>Advisor Name: <a href=""> {{ object.classroom.advisor.user.username }}</a></p>
                    <p>Advisor email: <a href=""> {{ object.classroom.advisor.user.email }}</a></p>
                    <p>Advisor Phone: <a href=""> {{ object.classroom.advisor.phone }}</a></p>
                </div>
            </div>
        </div> -->
    </div>

    <!-- EXAM RESULST TABLE -->
    <div class="col-4">
        <h1>last 5 exam results</h1>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Net</th>
                    <th scope="col">Puan</th>
                    <th scope="col">Sinif</th>
                    <th scope="col">Tarih</th>
                </tr>
            </thead>
            <tbody>
                {% if last_exams_results %}
                {% for exam_result in last_exams_results  %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>
                        {% comment %} data-target=".bd-example-modal-lg" {% endcomment %}
                        <a href="{% url 'exams:solutions_detail' pk=exam_result.pk %}" data-toggle="modal"
                            data-target="#myModal{{ exam_result.exam.id }}">{{ exam_result.exam }}</a>
                    </td>
                    <td>{{ exam_result.result.Net|floatformat }}</td>
                    <td>450</td>
                    <td><a href="">{{ exam_result.student.classroom }}</a></td>
                    <td>{{ exam_result.exam.timestamp|date:"d M, Y" }}</td>
                </tr>
                {% include 'users/snippets/student/modal.html' with student=object result=exam_result exam=exam_result.exam img=image %}
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>

</div>

<div class="row pt-3">

    <!-- CALENDAR -->
    <div class="col-8">
        <h3>Ders Programi </h3>
        {% include 'base/snippets/calendar.html' %}
    </div>

    <!-- INFO -->
    <div class="col-4">
        <div class="row">
            <div class="col-8 mx-auto">
                <div class="alert alert-warning" role="alert">
                    <h2>Info </h2>
                    <hr>
                    <p>Name : {{ object.user.username }}</p>
                    <p>Surname : {{ object.user.lastname }}</p>
                    <p>Sinif : {{ object.classroom }}</p>
                    <p>Basari durumu(basarili,vasat,basarisiz) : Custom managermodel and queryset and define
                        success_rate() filter based on exams etc</p>
                    <p>Advisor : <a href=""> {{ object.classroom.advisor }}</a></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8 mx-auto">
                <div class="alert alert-primary" role="alert">
                    <h2>Contact Info </h2>
                    <hr>
                    <p>Advisor Name: <a href=""> {{ object.classroom.advisor.user.username }}</a></p>
                    <p>Advisor email: <a href=""> {{ object.classroom.advisor.user.email }}</a></p>
                    <p>Advisor Phone: <a href=""> {{ object.classroom.advisor.phone }}</a></p>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="{% static 'js/main.js' %}"></script>
<!-- <script>new Chart(document.getElementById("myChart2"),{"type":"line","data":{"labels":[{% for exam_result in exams_all  %}'{{exam_result.exam.title}},{{exam_result.exam.timestamp|date:"d M Y"}}',{% endfor %}],"datasets":[{"label":"Net Sayisi","data":[{% for y in mat_yanlislar %}'{{ y }}',{% endfor %}],"fill":false,"borderColor":"rgb(75, 192, 192)","lineTension":0.1}]},"options":{responsive:true,scales: {yAxes: [{ticks: {min: 0,max:20}}]}}});</script> -->
<script>
    var chart = new Chart(document.getElementById("myChart2"), {
        "type": "line",
        "data": {
            "labels": [{% for exam_result in exams_all %}'{{exam_result.exam.title}},{{exam_result.exam.id}}',{% endfor %}],// |cut:" HAZIRLIK" ,{{exam_result.exam.timestamp|date:"d M Y"}}
    "datasets": [
        {
            "label": "Net Sayisi",
            "data": [{% for exam_result in exams_all %}'{{ exam_result.result.Net|floatformat }}', {% endfor %}],
        "fill": false,
            "borderColor": "rgb(75, 192, 192)",
                "lineTension": 0.1
                    }
                ]
            },
    "options": {
        responsive: true,
            scales: {
            xAxes: [{
                ticks: {
                    callback: function (value) {
                        //value.indexOf(',')
                        return value.substr(0, 4) + value.substr(value.length - 4, value.length);//truncate
                    },
                    fontSize: 10
                }
            }],
                yAxes: [{
                    ticks: {
                        min: 50, max: 80
                    }
                }]
        },
        legend: {
            labels: {
                fontColor: 'red',
                fontSize: 5
            }
        },
        // This chart will not respond to mousemove, etc
        //events: ['click']
    }});

    var myChart3 = new Chart(document.getElementById("myChart3"), {
        "type": "bar",
        "data": {
            "labels": [{% for exam_result in exams_all %}'{{exam_result.exam.title}}',{% endfor %}],// |cut:" HAZIRLIK" ,{{exam_result.exam.timestamp|date:"d M Y"}}
    "datasets": [
        {
            "label": "Matematik Net",
            "data": [{% for y in mat_yanlislar %}'{{ y }}', {% endfor %}],
        "fill": false,
            "backgroundColor": "rgba(255, 99, 132, 0.2)",
                "borderColor": "rgb(175, 255, 192)",
                    "lineTension": 0.1
                    },
    {
        "label": "Fen Net",
            "data": [{% for y in fen_yanlislar %} '{{ y }}', {% endfor %}],
    "fill": false,
        "backgroundColor": "rgba(255, 150, 132, 0.2)",
            "borderColor": "rgb(68, 225, 192)",
                "lineTension": 0.1
                    },
    {
        "label": "Sosyal Net",
            "data": [{% for y in sosyal_yanlislar %} '{{ y }}', {% endfor %}],
    "fill": false,
        "backgroundColor": "rgba(255, 99, 50, 0.2)",
            "borderColor": "rgb(175, 155, 192)",
                "lineTension": 0.1
                    },
    {
        "label": "Turkce Net",
            "data": [{% for y in turkce_yanlislar %} '{{ y }}', {% endfor %}],
    "fill": false,
        "backgroundColor": "rgba(0, 99, 132, 0.2)",
            "borderColor": "rgb(175, 0, 255)",
                "lineTension": 0.1
                    },
                ]
            },
    "options": { responsive: true, scales: { yAxes: [{ ticks: { min: 0, max: 20 } }], xAxes:[{ticks:{fontSize:10}}] } }});

    document.getElementById("myChart2").onclick = function (evt) {
        var activePoints = chart.getElementsAtEvent(evt);
        console.log('activePoints', activePoints)
        console.log(activePoints)
        if (activePoints.length > 0) {
            //get the internal index of slice in pie chart
            var clickedElementindex = activePoints[0]["_index"];

            //get specific label by index 
            var label = chart.data.labels[clickedElementindex];

            //get value by index      
            var value = chart.data.datasets[0].data[clickedElementindex];

            console.log(label)
            var examId = label.substr(label.indexOf(',')+1,label.length)
            console.log(examId)
            /* other stuff that requires slice's label and value */
            $('#myModal'+examId).modal('show');
  
        }
    }

    document.getElementById("myChart3").onclick = function (evt) {
        var activePoints = chart.getElementsAtEvent(evt);
        console.log(activePoints)
        if (activePoints.length > 0) {
            //get the internal index of slice in pie chart
            var clickedElementindex = activePoints[0]["_index"];

            //get specific label by index 
            var label = chart.data.labels[clickedElementindex];

            //get value by index      
            var value = chart.data.datasets[0].data[clickedElementindex];

            console.log(label)
            /* other stuff that requires slice's label and value */
        }
    }

    // function random_rgba() {
    // var o = Math.round, r = Math.random, s = 255;
    // return 'rgba(' + o(r()*s) + ',' + o(r()*s) + ',' + o(r()*s) + ',' + r().toFixed(1) + ')';
    // }
    // console.log(random_rgba())
    // var ctx = document.getElementById('myChart2');
    // var ctx = 'myChart2'
    // var myChart = new Chart(ctx, {
    //     type: 'bar',
    //     data: {
    //         labels: [{% for exam_result in exams_all  %}'{{exam_result.exam.title}},{{exam_result.exam.timestamp|date:"d M Y"}}',{% endfor %}],//{% for obj in exam_results.reverse  %}'{{obj.title}}',{% endfor %}
    //         datasets: [{
    //             label: 'Net', // katilimedge0fs
    //             data: [{% for exam_result in exams_all %}'{{ exam_result.result.Net }}',{% endfor %}], //{% for result in exam_results_results %}'{{result}}',{% endfor %}  {% for result in exam_results.reverse.result.all  %}'{{ result.result }}',{% endfor %}
    //             backgroundColor: [{% for result in exams_all_results  %}random_rgba(),{% endfor %}
    //                 //'rgba(255, 99, 132, 0.2)',
    //                 //'rgba(54, 162, 235, 0.2)',
    //                 //'rgba(255, 206, 86, 0.2)',
    //             ],
    //             borderColor: [{% for result in exam_results_results %}random_rgba(),{% endfor %}
    //                 //'rgba(255, 99, 132, 1)',
    //                 //'rgba(54, 162, 235, 1)',
    //                 //'rgba(255, 206, 86, 1)',
    //             ],
    //             borderWidth: 1
    //         }]
    //     },
    //     options: {
    //         scales: {
    //             yAxes: [{
    //                 ticks: {
    //                     beginAtZero: true,
    //                     max: 80
    //                 }

    //             }]
    //         }
    //     }
    // });</script>
{% endblock content %}