{% extends 'base.html' %}
{% block content %}
{% load teacher_extras %}
<div class="row">
    <div class="col-2">
        <div class="alert alert-warning" role="alert">
            <h2>Info </h2>
            <hr>
            <p>Name : {{ object.user.first_name }}</p>
            <p>Surname : {{ object.user.last_name }}</p>
            <p>Subject : {{ object.subject|label }}</p>
            <p>Sorumlu Sinif : <a href="{% url 'classrooms:detail' pk=object.classroom.pk %}">{{ object.classroom }}</a></p>
        </div>
    </div>
    <div class="col-3">
        <div class="alert alert-primary" role="alert">
            <h2>Contact Info </h2>
            <hr>
            <p>Email: <a href=""> {{ object.user.email }}</a></p>
            <p>Phone: <a href=""> {{ object.phone }}</a></p>
        </div>
    </div>
    <div class="col-3">
        <h2>Contributed Exams</h2>
        <hr>
        <p>Total contributions: {{ object.contributed_solutions.all.count }}</p>
        
        <p>Contributed exams: {% for exam_solution in object.contributed_solutions.all %} {% ifchanged %} {{ exam_solution.exam }} {% endifchanged %} {% empty %} None {% endfor %}</p> <!-- {{ object.contributed_solutions.exam.all.distinct }} -->
        <hr>
        <a href="" class="btn btn-secondary btn-sm">Add Solution</a>
    </div>
    <div class="col-4 ml-auto">
        <h2>last 3 exam results (sorumlu oldugu sinifa gore sirala ?)</h2>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Net</th>
                    <th scope="col">Puan</th>
                    <th scope="col">Sinif</th>
                    <th scope="col">Tarih</th>
                </tr>
            </thead>
            <tbody>
                {% if last_exams_results %}
                {% for exam in last_exams_results  %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><a href="">{{ exam.exam }}</a></td>
                    <td>{{ exam.result }}</td>
                    <td>450</td>
                    <td><a href="">{{ exam.student.classroom }}</a></td>
                    <td>{{ exam.exam.timestamp|date:"d M, Y" }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <th scope="row">1</th>
                    <td>Mark Otto</td>
                    <td>30</td>
                    <td>450</td>
                    <td>A</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob Thornton lenghtehend btch</td>
                    <td>40</td>
                    <td>430</td>
                    <td>B</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry the bird</td>
                    <td>50</td>
                    <td>410</td>
                    <td>C</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-8">
        <h3>Event Calendar </h3>
        {% include 'base/snippets/calendar.html' %}
    </div>
</div>
{% endblock content %}